{% extends "bootstrap/base.html" %}

{% block title %} Log In {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="static/styles/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Noto+Sans+JP:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% include 'header.html' %}

{% block content %}

        <section class="vh-100">
          <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
              <div class="col-md-8 col-lg-8 col-xl-3">
                <img src="static/images/green-jacket.png"
                  class="img-fluid" alt="Hoodie Image">
              </div>
              <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="POST" action="{{ url_for('login') }}">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="form1Example13" name="email" class="form-control form-control-lg" />
                    <label class="form-label" for="form1Example13">Email address</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="form1Example23" name="password" class="form-control form-control-lg" />
                    <label class="form-label" for="form1Example23">Password</label>
                  </div>

                  <!-- Flash messages -->
                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          <div class="alert alert-danger">
                              <ul>
                                  {% for message in messages %}
                                  <li>{{message}}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                  {% endwith %}

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-dark btn-lg btn-block">Log in</button>

                  <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                  </div>
                  <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('signup') }}" role="button" >Create an account</a>

                </form>
              </div>
            </div>
          </div>
        </section>

{% include 'footer.html' %}

{% endblock %}

{% block scripts %}
    {{ super() }}
        <script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>
            // Sample JavaScript code
            document.addEventListener('DOMContentLoaded', function() {
                console.log('Home page loaded.');
            });
        </script>
{% endblock %}